<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    defaultTestSuite="unit"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix=".php">./tests/unit/</directory>
        </testsuite>
        <!--
            Integration tests require a full WordPress + WooCommerce environment.
            Run with: vendor/bin/phpunit -\-testsuite integration
        -->
        <testsuite name="integration">
            <directory suffix=".php">./tests/integration/</directory>
        </testsuite>
    </testsuites>

    <coverage>
        <include>
            <directory suffix=".php">./includes/</directory>
            <file>./smarttr-address.php</file>
        </include>
        <exclude>
            <directory>./includes/views/</directory>
        </exclude>
    </coverage>

    <php>
        <const name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="vendor/yoast/phpunit-polyfills"/>
    </php>
</phpunit>
